<h3 [style.font-weight]="400">{{"Lista de alumnos" | uppercase }} | {{date | date: 'MMM, y'}}</h3>
<hr>
<br>
<button (click)="viewList = !viewList">VER ESTUDIANTES</button>

<ul *ngIf="viewList" class="list-unstyled">
  <li *ngFor="let student of students" [ngClass]="{success: hasError}">
    {{student.nombre1}} - {{student.status1 ? "APROBADO" : "DESAPROBADO"}}
  </li>
  <li *ngFor="let student of students" [ngClass]="{error: hasError}">
    {{student.nombre2}} - {{student.status2 ? "APROBADO" : "DESAPROBADO"}}
  </li>
  <li *ngFor="let student of students" [ngClass]="{success: hasError}">
    {{student.nombre3}} - {{student.status3 ? "APROBADO" : "DESAPROBADO"}}
  </li>
  <li *ngFor="let student of students" [ngClass]="{success: hasError}">
    {{student.nombre4}} - {{student.status4 ? "APROBADO" : "DESAPROBADO"}}
  </li>
  <li *ngFor="let student of students" [ngClass]="{success: hasError}">
    {{student.nombre5}} - {{student.status5 ? "APROBADO" : "DESAPROBADO"}}
  </li>
</ul>
